* {
    margin: 0;
    padding: 0;
}

body,
html{
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;
}

main{
    position: relative;
    padding-bottom: 10vh;
    overflow-x: hidden;
}

.happy-home {
    /*background-color: var(--h-theme-background);*/
}

header {
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.75);
    /*color: #333;*/
    color: var(--h-theme-primary);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    font-size: 18px;
    overflow: hidden;
}

header h1 {
    font-size: 18px;
    font-weight: normal;
}


header .menu {
    font-size: 28px;
    font-weight: normal;
    padding: 6px 20px;
    cursor: pointer;
    position: absolute; left: 0;
}

header .theme {
    padding: 6px 20px;
    cursor: pointer;
    position: absolute; right: 0;
}

header .theme #theme-input{
    padding: 0;
    margin: 0;
    border: none;
}

.list-box {
    padding-top: 52px;
    width: 100%;
    overflow-x: hidden;
}


.list-box .component {

}


.list-box .component h3 {
    font-size: 12px;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    /*color: #999;*/
    color: var(--h-theme-primary);
    opacity: .75;
    background-color: #f5f5f5;
}

.component ul{
    width: 100%;
    overflow: hidden;
}

.component li{

}

.component .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 18px;
    font-size: 15px;
    color: #333;
    background-color: white;
    text-align: left;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: background-color ease-in-out 300ms;
}

.component .list:hover{
    background-color: #f9f9f9f9;
}

.component .list:hover a:after{
    background-color: white;
}

.component a:after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    transform: scaleY(.5);
}

route-view{
    display: block;
    width: 100%;
    transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

route-view app-home,
route-view app-button,
route-view app-toast,
route-view app-icon{
    display: block;
    width: 100%;
    height: 100%;
    min-height: 50%;
    transform: translateX(100%);
    transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 80ms ease-out;
}
route-view .view-show{
    position: relative;
    display: block;
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}
route-view .view-hide{
    transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 80ms ease-out;
    transform: translateX(-100%);
    position: absolute;
    opacity: 0;
    z-index: 0;
}
