* {
    margin: 0;
    padding: 0;
}

body,
html{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

main{
    padding-bottom: 10vh;
}

.happy-home {
    /*background-color: var(--h-theme-background);*/
}

header {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--h-theme-primary);
    color: white;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

header h1 {
    font-size: 16px;
    font-weight: normal;
}


header .menu {
    font-size: 26px;
    font-weight: normal;
    padding: 10px;
    cursor: pointer;
}

.list-box {
    padding-top: 52px;
}


.list-box .component {

}


.list-box .component h3 {
    font-size: 12px;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    color: #999;
    /*background-color: #eeeeee;*/
}

.component ul{
    width: 100%;
    overflow: hidden;
}

.component li{

}

.component .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 18px;
    font-size: 15px;
    color: #333;
    background-color: white;
    text-align: left;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: background-color ease-in-out 300ms;
}

.component .list:hover{
    background-color: #f9f9f9f9;
}

.component .list:hover a:after{
    background-color: white;
}

.component a:after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    transform: scaleY(.5);
}
