{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry" // entry usage false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-transform-async-to-generator"]
  ]
}
