
:host {
    display: block;
    overflow: auto;
    /*overflow-x: scroll;*/
}

.h-pull-refresh-root {
    /*height: 100%;*/
    overflow: hidden;
    /*overflow-x: scroll;*/
    touch-action: none;
    -ms-touch-action: none;
}

.h-pull-refresh-root .h-pull-refresh{
    /*overflow-x: scroll;*/
    width: 100%;
    height: auto;
}
