
:host {
    display: block;
    overflow: auto;
    overflow-y: scroll;
    /*touch-action: none;*/
    /*-ms-touch-action: none;*/
}

.h-pull-refresh-root {
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*overflow-x: scroll;*/
    /*touch-action: none;*/
    /*-ms-touch-action: none;*/
}

.h-pull-refresh-root .h-pull-refresh{
    /*overflow-x: scroll;*/
    width: 100%;
    height: auto;
}

.h-pull-refresh-root .h-pull-up,
.h-pull-refresh-root .h-pull-down{
    color: grey;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}


