
.h-button{
  display: block;
  //justify-content: center;
  //align-items: center;
  box-sizing: border-box;
  position: relative;
  //overflow: hidden;
  width: 100%;
  border: 0;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  text-transform: none;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: width 1s linear, background-color 150ms linear;

  // 边框
  &[outline]{
    background-color: white;
    &:hover{
      &:after{
        opacity: 0.1;
      }
    }
    &:active{
      &:after{
        transition-duration: 75ms;
        opacity: 0.2;
      }
    }
  }

  &::before{
    content: '';
    background-color: transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(.5);
    box-sizing: border-box;
    border-radius: 10px;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
  }

  // 动画
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(.5);
    opacity: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 2;
    transition: opacity 150ms linear, background-color 150ms ease-in-out;
    background-color: white;
  }

  &:hover{
    &:after{
      background-color: rgba(255,255,255, .8);
      opacity: 0.2;
    }
  }

  &:active{
    &:after{
      transition-duration: 75ms;
      background-color: rgba(0,0,0, 1);
      opacity: 0.2;
    }
  }

  &:focus{
    outline: 0;
  }

  .h-icon--loading{
    transition: all 1000ms ease-in-out;
    display: inline-block;
    @keyframes loading
    {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
    }
    animation: loading 1s linear 0ms infinite;
  }
}

/**
  hType 类型
 */
.h-button--primary{
  color: var(--h-theme-on-primary, white);
  background-color: var(--h-theme-primary, #1f78ff);

  &[outline]{
    color: var(--h-theme-primary, #1f78ff);
    &:before{
      border: 1px solid var(--h-theme-primary, #1f78ff);
    }
    &:after{
      background-color: var(--h-theme-primary, #1f78ff);
    }
  }
}

.h-button--secondary{
  color: rgba(0, 0, 0, .87);
  background-color: var(--h-theme-background, #ffffff);
  &::before {
    border: 1px solid var(--h-theme-border, #ccc);
  }
  &:hover{
    &:after{
      opacity: 0.06;
      background-color: var(--h-theme-primary, #1f78ff);
    }
  }
  &:active{
    &:after{
      transition-duration: 75ms;
      opacity: 0.12;
      background-color: var(--h-theme-primary, #1f78ff);
    }
  }
}

.h-button--success{
  color: var(--h-theme-on-primary, white);
  background-color: var(--h-theme-success, #4caf50);

  &[outline]{
    color: var(--h-theme-success, #4caf50);
    &:before{
      border: 1px solid var(--h-theme-success, #4caf50);
    }
    &:after{
      background-color: var(--h-theme-success, #4caf50);
    }
  }
}

.h-button--warn{
  color: var(--h-theme-on-primary, white);
  background-color: var(--h-theme-warn, #fbc02d);

  &[outline]{
    color: var(--h-theme-warn, #fbc02d);
    &:before{
      border: 1px solid var(--h-theme-warn, #fbc02d);
    }
    &:after{
      background-color: var(--h-theme-warn, #fbc02d);
    }
  }
}

.h-button--error{
  color: var(--h-theme-on-primary, white);
  background-color: var(--h-theme-error, #e53935);

  &[outline]{
    color: var(--h-theme-error, #e53935);
    &:before{
      border: 1px solid var(--h-theme-error, #e53935);
    }
    &:after{
      background-color: var(--h-theme-error, #e53935);
    }
  }
}


/*
  大小: small、medium、large
 */
.h-button--small {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;

  h-icon{
    //margin-right: 4px;
  }
}
.h-button--medium {
  height: 44px;
  line-height: 44px;
  font-size: 16px;

  h-icon{
    //margin-right: 6px;
  }
}
.h-button--large {
  height: 52px;
  line-height: 52px;
  font-size: 22px;
  padding-left: 16px;
  padding-right: 16px;

  h-icon{
    //margin-right: 8px;
  }
}

/**
  禁用
 */
.h-button--disabled{
  //background-color: rgba(0, 0, 0, 0.12);
  //color: rgba(0, 0, 0, 0.37);
  //opacity: .4;
  cursor: default;
  pointer-events: none;
  &::after{
    opacity: .5 !important;
    background-color: #eee !important;
  }
}

/**
  阴影
 */
.h-button--shadow{
  box-shadow:
      0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  &:hover,
  &:active{
    box-shadow:
        0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 5px 0 rgba(0,0,0,.14),
        0 1px 10px 0 rgba(0,0,0,.12);
  }
}

/**
  inline
 */
.h-button--inline{
  display: inline-table;
  width: auto;
}
