
.h-button{
  display: inline-block;
  //justify-content: center;
  //align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  border: 0;
  background-color: white;
  text-align: center;
  text-transform: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: width 1s linear;

  &::before,
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &:hover{
  }

  &:focus{
    outline: 0;
  }

  &-icon{
    transition: all 1000ms ease-in-out;
    margin-right: 4px;
    display: inline-block;
    @keyframes loading
    {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
    }
    animation: loading 1s linear 0ms infinite;
  }
}

/**
  hType 类型
 */
.h-button--default{
  color: rgba(0, 0, 0, .87);
  background-color: #f4f5f8;
  padding: 0 16px;
  border-radius: 4px;
  &::before{
    background-color: var(--h-theme-primary, #1f78ff);
    transition: opacity 15ms linear, background-color 15ms linear;
  }
  &::after{
    background-color: var(--h-theme-primary, #1f78ff);
    transition: opacity 150ms linear;
  }
  &:hover{
    &:before {
      opacity: 0.04;
    }
  }
}

.h-button--primary{
  color: var(--h-theme-on-primary, white);
  background-color: var(--h-theme-primary, #1f78ff);
  padding: 0 16px;
  border-radius: 4px;

  &:before{
    background-color: var(--h-theme-on-primary, white);
    transition: opacity 15ms linear, background-color 15ms linear;
  }
  &::after{
    background-color: var(--h-theme-on-primary, white);
    transition: opacity 150ms linear;
  }
  &:hover{
    &:before {
      opacity: 0.08;
    }
  }
  &:active{
    &:after{
      transition-duration: 75ms;
      opacity: 0.32;
    }
  }
  &:focus{
    &:before{
      transition-duration: 75ms;
      opacity: 0.24;
    }
  }
}


/*
  大小: small、medium、large
 */
.h-button--small {
  height: 36px;
  line-height: 36px;
}
.h-button--medium {
  height: 44px;
  line-height: 44px;
}
.h-button--large {
  height: 50px;
  line-height: 50px;
}

/**
  禁用
 */
.h-button--disabled{
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none;
}

/**
  阴影
 */
.h-button--shadow{
  box-shadow:
      0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  &:hover{
    box-shadow:
        0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 5px 0 rgba(0,0,0,.14),
        0 1px 10px 0 rgba(0,0,0,.12);
  }
}

/**
  inline
 */
.h-button--inline{
  display: inline-flex;
  width: auto;
}
