
:host {
    display: block;
    width: 100%;
}

.h-slider-root{
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 18px;
}

.h-slider{
    flex: 1;
    box-sizing: border-box;
    padding: 14px 0;
    /*cursor: pointer;*/
}

.h-slider .h-slider-inline{
    width: 100%;
    height: 2px;
    background-color: var(--h-theme-border, #ccc);
    position: relative;
}

.h-slider-value{
    font-size: 14px;
    margin-left: 1.3em;
    text-align: center;
    /*max-width: 3em;*/
    color: var(--h-theme-text-87, rgba(0, 0, 0, 0.87));
}

.h-slider .h-slider-inline .h-slider-line {
    width: 0;
    height: 2px;
    background-color: var(--h-theme-primary, #ccc);
    position: absolute;
    left: 0;
    top: 0;
}

.h-slider .h-slider-inline .h-slider-circular{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: absolute;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
