<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue happy-mobile</title>
    <!--<link rel="stylesheet" href="https://unpkg.com/happy-mobile/dist/happy-mobile.css">-->
    <link rel="stylesheet" href="../../dist/happy-mobile.css">
</head>
<body>
    <!--<h-tab></h-tab>-->
    <div id="app">
        <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <div>
                type:
                <select name="cars" v-model="select1">
                    <option value="default">default</option>
                    <option value="primary">primary</option>
                    <option value="warn">warn</option>
                    <option value="error">error</option>
                    <option value="text">text</option>
                </select>
            </div>

            <div>
                size:
                <select name="cars" v-model="size1">
                    <option value="default">默认</option>
                    <option value="small">小 small</option>
                    <option value="medium">中 medium</option>
                    <option value="large">大 large</option>
                </select>
            </div>

            <div>
                loading:
                <select name="cars" v-model="loading1">
                    <option :value="true">true</option>
                    <option :value="false">false</option>
                </select>
            </div>

            <div>
                shadow:
                <select name="cars" v-model="shadow1">
                    <option :value="true">true</option>
                    <option :value="false">false</option>
                </select>
            </div>

            <div>
                disabled:
                <select name="cars" v-model="disabled1">
                    <option :value="true">true</option>
                    <option :value="false">false</option>
                </select>
            </div>

            <div>
                inline:
                <select name="cars" v-model="inline1">
                    <option :value="true">true</option>
                    <option :value="false">false</option>
                </select>
            </div>

        </div>
        <h-button ref="btn1"
                  @click="clicks()"
                  class="my-class"
                  :color="select1"
                  :size="size1"
                  :loading="loading1"
                  :shadow="shadow1"
                  :disabled="disabled1"
                  :inline="inline1"
                  v-html="message"></h-button>

        <h-button inline>{{message}}</h-button>

        <h4>switch</h4>
        <h-switch value="true"></h-switch>
        <h-switch :value="switch1" @change="switchEv"></h-switch>

        <h4>h-slider</h4>
        <h-slider :value="slider1"></h-slider>
        <h-slider :value="slider2"></h-slider>
        <h-slider id="slider3" :value="slider3" @input="sliderEv"></h-slider>{{slider3}} <!-- v-model="slider3" -->
        <!--<h-button @click="switchClick()">switch</h-button>-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="./dist/index.js"></script>-->
    <script>
      Vue.config.ignoredElements = [/^h-/];
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          select1: 'primary',
          size1: 'medium',
          loading1: false,
          shadow1: false,
          disabled1: false,
          inline1: false,

          // switch
          switch1: false,

          // slider
          slider1: 0,
          slider2: 50,
          slider3: 100,
        },
        created() {
        },
        methods: {
          clicks(){
            var t = this.$refs.btn1.showLoading()
            setTimeout(t, 2000)
          },
          switchEv(ev){
            console.log(' switchEv',  ev.detail)
            // this.switch1 = !this.switch1
          },
          sliderEv(ev){
            this.slider3 = ev.detail
            console.log(this.slider3)
          }
        }
      })
    </script>
    <script src="../../dist/happy-mobile.js"></script>
    <!--<script src="https://unpkg.com/happy-mobile/dist/happy-mobile.js"></script>-->
</body>
</html>
