@import "./reset.css";
@import "./variable.css";

html,body {
  /*height: 100%;*/
  color: #000;
  font-size: 16px;
  /*font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;*/
    font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.app-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--h-theme-background);
}

.app-header{
    width: 100%;
    height: 50px;
    background-color: var(--h-theme-primary);
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.app-header .logo h1{
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.app-main{
    flex: 1;
    display: flex;
}

.app-nav{
    width: 220px;
    height: 100%;
    flex-shrink: 0;
    background-color: white;
    padding: 25px 0 100px;
    position: fixed;
    top: 50px;
    left: 0;
    overflow-y: scroll;
    /*transition: top ease .1s;*/
}

.app-nav .app-nav-item{

}

.app-nav .app-nav-item h3{
    display: block;
    color: #333;
    font-size: 18px;
    padding: 10px 10px 10px 30px;
    line-height: 24px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.app-nav .app-nav-item a,
.app-nav .app-nav-item h6
{
    display: block;
    color: #444;
    font-size: 14px;
    padding: 8px 10px 8px 30px;
    line-height: 22px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.app-nav .app-nav-item h6{
    color: #a5a5a5;
    font-size: 12px;
    line-height: 16px;
}

.app-nav .app-nav-item a:hover{
    color: rgba(31, 120, 255, .75);
}

.app-nav .app-nav-item a.active{
    color: var(--h-theme-primary);
}

.app-nav .component-container{

}

.app-container{
    /*flex: 1;*/
    /*background-color: white;*/
    /*margin: 0 auto;*/
    /*width: calc(100% - 220px - 356px);*/
    width: 100%;
    min-height: 100vh;
    /*height: 100%;*/
    padding-left: 238px;
    padding-right: 356px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
}

.app-iframe{
    padding: 18px;
    position: fixed;
    top: 50px;
    right: 0;
}

.app-iframe iframe{
    width: 320px;
    height: 667px;
    min-width: 320px;
}
