
:root{
    --h-theme-primary: #1f78ff;                                      /*主色*/
    --h-theme-white: #fff;                                           /*辅助色*/
    --h-theme-background: #eee;                                      /*背景色*/
}

