
:host{
    width: 100%;
    height: 100%;
}

.h-swipe-action-root{
    width: 100%;
    height: 100%;
}

.swipe-front {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    -ms-touch-action: none;
    /* // [START touch-action-example] */
    /* Pass all touches to javascript */
    touch-action: none;
    /* // [END touch-action-example] */
}

.swipe-content {
    min-width: 100%;
    flex-shrink: 0;
}

.swipe-back {
}

