/*@import "./iconfont/iconfont.scss";*/

/*h-icon .h-iconfont {*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*vertical-align: -0.15em;*/
    /*fill: currentColor;*/
    /*overflow: hidden;*/
/*}*/

:host{
    display: inline-block;
    width: 1em;
    height: 1em;
}

.h-iconfont, svg {
    display: block;
    fill: currentColor;
    /*stroke: currentColor;*/
    height: 100%;
    width: 100%;
    color: inherit;
}

.h-icon{
    fill: currentColor;
    background-size: cover;
}

.h-icon--loading{
    transition: all 1000ms ease-in-out;
    display: block;
    animation: loading 1s linear 0ms infinite;
}

@keyframes loading {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
