/*@import "./iconfont/iconfont.scss";*/

/*h-icon .h-iconfont {*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*vertical-align: -0.15em;*/
    /*fill: currentColor;*/
    /*overflow: hidden;*/
/*}*/

:host{
    display: inline-block;
    width: 1em;
    height: 1em;
}

.h-iconfont, svg {
    display: block;
    fill: currentColor;
    stroke: currentColor;
    height: 100%;
    width: 100%;
    color: inherit;
}
